.page-title{
    text-align: center;
    padding: 40px 0px;
    background-color: #337ab7;
    color: #FFF;
}
.moudle-title{
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 800;
    color: #337ab7;
}
.padding1020{
    padding: 10px 60px 10px 20px;
}
.buttonClass1{
    text-align: center;
    padding: 40px 0px;
}